# Data Science Tools and Ecosystem

In this notebook, we are exploring Data Science Tools and Ecosystem.

__Objectives:__
+ List popular programming languages for Data Science
+ List commonly used Data Science libraries
+ List development environment open source tools used in Data Science
+ Demonstrate usage of simple arithmetic expressions

Some of the popular programming languages that Data Scientists use include:
1. Python
2. R
3. Julia
4. Scala
5. SQL
6. Java

Some of the common libraries used by Data Scientists are:
- Panda
- NumPy
- SciPy
- matplotlib  
- Seaborn

|Data Science Tools|
|---------------------|
|JupiterLab|
|VS Code|
|Google Colaboratory|

### Below are some examples of evaluating arithmetic expressions in Python.

In [6]:
# Here's an example of a simple arithmetic expression that multiplies two integers and then adds another one
(3*4)+5

17

In [7]:
# This will convert 200 minutes to hours, it will do so by dividing by 60
200 / 60

3.3333333333333335

## Author
Anatoliy Ryabin